<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Currency</title>
</head>

<style>
    body {
	background-color: #444444;
	color: #ddd;
	font-size: 16px;
	font-family: monospace;
</style>

<body>

<h1>Euro to converter</h1>

<form action="" method="post">
    <input type="number" name="number_input">

    <select id="currency" name="currency_input">
        <option value="usd">USD</option>
        <option value="pounds">Pounds</option>
        <option value="yuan">Yuan</option>
        <option value="yen">Yen</option>
        <option value="franc">Swiss franc</option>
    </select>

    <input type="submit" name="submit">
</form>

</body>
</html>